<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form method="post" id="authForm" action="/auth/login"> <!-- routes/auth에 '/login' 이라는 post로 전달-->
        <div>
            <label for="loginId">아이디</label>
            <input type="text" id="loginId" name="loginId" placeholder="ID" > <!-- name은 정보 전달 시에 이 태그에 들어간 정보는 어떤 정보인지 이름을 나타냄.-->
            <label for="loginPw">비밀번호</label>
            <input type="password" id="loginPw" name="password" placeholder="Password" >
        </div>
        <button type="submit">로그인</button>
        <div>
            <input type="checkbox" id="keepLogin" name="keepLogin">
            <label for="keepLogin"><span>로그인 상태 유지</span></label>
        </div>
      </form>

      <script>
            const userId = document.getElementById("loginId");
            const userPassword = document.getElementById("loginPw"); // 실제로는 이렇게 pwd바로 받고 하면 안 됨. db에서도 plain하게 저장하면 안되고. 나중에 수정 필!!!
      </script>
</body>
</html>