@import url("/movie page(현정)/default.css");

/* ------------------modal------------------ */
/* .MDWantToSeeMore, */
@-webkit-keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

.modalBackGround,
.MDWantToSeeMore {
  -webkit-animation: fadeIn 200ms, fadeOut 200ms;
  animation: fadeIn 200ms, fadeOut 200ms;
}

.mark,
.markModal,
.fa-caret-down,
.fa-plus,
.emptyBookMark,
.fullWatchingEye,
.markWatchingText {
  transition: all 300ms ease-in-out;
}

/* .MDWantToSeeMore {
  transition: opacity 1000ms ease-in-out;
} */

.modalBackGround {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.modalContainer {
  position: fixed;
  width: 35rem;
  height: 36rem;
  background-color: #ffffff;
  top: 20rem;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #e3e3e3 solid;
  border-radius: 10px;
  z-index: 11;
}

.MDWantToSeeMore {
  width: 31rem;
  height: 36rem;
  display: none;
}

.mdMovieInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px #e3e3e3 solid;
  padding: 2rem 0;
}

.mdPoster {
  width: 4.5rem;
  height: 6.5rem;
  border-radius: 5px;
  border: 1px #e3e3e3 solid;
}

.mdMovieText {
  margin-left: 1.5rem;
}

.mdMovieTitle {
  font-size: 1.8rem;
  font-weight: bold;
}

.mdGenreYear {
  font-size: 1.4rem;
  color: #787878;
}

.mdIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.mdLeftIconBox {
  border-right: 1px #e3e3e3 solid;
}

.mdLeftIconBox,
.mdRightIconBox {
  width: 50%;
  height: 10rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px #e3e3e3 solid;
}

.mdWriteComment,
.mdNoThanks {
  width: 100%;
  height: 4.8rem;
  border-bottom: 1px #e3e3e3 solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  cursor: pointer;
}

.mdWriteComment > .fa-comment,
.mdNoThanks > .fa-ban {
  font-size: 2.5rem;
  color: #787878;
}

.mdLeftIconBox:hover,
.mdRightIconBox:hover,
.mdWriteComment:hover,
.mdNoThanks:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.mdNoThanksText {
  color: black;
}

.mdCancel {
  width: 100%;
  height: 4.8rem;
  background-color: #ffffff;
  color: #ff447d;
  font-size: 1.5rem;
  transition: all 100ms ease-in-out;
}

.mdCancel:hover {
  font-weight: bold;
}

.MDNonMember {
  width: 31rem;
  height: 36rem;
  display: none;
}

.MDNonMember > .fa-times {
  color: #ff447d;
}

/* ------------------section1------------------ */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.section1 {
  width: 100%;
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  border-bottom: 1px #e3e3e3 solid;
}

.topImg {
  width: 100%;
  height: 47vh;
}

.posterAndInfo {
  width: 91rem;
  height: 0rem;
  transform: translateY(-3rem);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.poster {
  width: 15.2rem;
  height: 22.5rem;
  border: 0.2rem #ffffff solid;
  box-shadow: 0px 1px 5px #dfdfdf;
  border-radius: 5px;
}

.rankingInfo {
  margin-left: 2rem;
  color: white;
  font-size: 1.5rem;
  visibility: hidden;
}

.movieInfoRateBasketEstimate {
  width: 91rem;
  height: 31vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.empty {
  width: 20%;
  height: 100%;
  background-color: #ffffff;
}

.topUl {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.movieInfo {
  width: 100%;
  padding: 1.5rem 0 1rem 0;
}

.movieTitle {
  font-size: 3rem;
  font-weight: bold;
}

.movieDetail {
  font-size: 1.5rem;
  color: #7f7f7f;
}

.rate {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px #e3e3e3 solid;
  border-bottom: 1px #e3e3e3 solid;
  font-size: 1.5rem;
  font-weight: bold;
}

.rateText {
  color: #ff2f6e;
}

.basketEstimate {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 0 1.5rem 0;
}

.basket {
  display: flex;
  flex-direction: row;
  width: 23.5rem;
  height: 3.5rem;
}

.mark {
  background-color: #ff2f6e;
  border-radius: 10px 0 0 10px;
  width: 83%;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  border-right: 1px #e71252 solid;
}

.mark:hover > .plusFirst,
.mark:hover > .plusLater {
  transform: rotate(0.25turn);
}

.markModal {
  background-color: #ff2f6e;
  border-radius: 0 10px 10px 0;
  width: 17%;
  height: 100%;
}

.markModal:hover > .fa-caret-down {
  transform: translateY(0.2rem);
}

.markNoThanksText {
  display: none;
}

.fa-ban-mark {
  padding: 0 1rem;
  display: none;
}

.fa-plus {
  color: #ffffff;
  padding: 0 1rem;
}

.plusLater {
  display: none;
}

.emptyBookMark {
  color: #ff2f6e;
  padding: 0 1rem;
  display: none;
}

.fullBookMarkModal {
  font-size: 4rem;
  color: #ff2f6e;
  display: none;
}

.fullWatchingEyeModal {
  font-size: 4rem;
  color: #00a0ff;
  display: none;
}

.fullWatchingEye {
  /* font-size: 4rem; */
  padding: 0 1rem;
  color: #00a0ff;
  display: none;
}

.emptyBookMarkModal,
.watchingEyeModal {
  font-size: 4rem;
  color: #787878;
}

.markWatchingText {
  color: black;
  display: none;
}

.fa-caret-down {
  color: #ffffff;
  font-size: 1.5rem;
  transition: all 200ms ease-in-out;
}

.estimate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2rem;
}

.estimateText {
  font-size: 1rem;
  font-weight: bold;
  color: #7f7f7f;
}

.stars {
  font-size: 3rem;
}

/* ------------------section2------------------ */

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.section2TotalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.section2LeftContainer,
.section2LeftTopContainer {
  width: 63rem;
  background-color: #ffffff;
  margin: 4rem 0;
  border: 1px #e3e3e3 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section2LeftTopContainer {
  flex-direction: row;
  margin-bottom: 0;
}

.section2LeftContainer {
  margin-top: 1rem;
}

.section2LeftContents {
  width: 59rem;
}

.section2RightContainer {
  width: 27rem;
  margin: 4rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.section2LeftTopContainer {
  width: 100%;
  height: 6rem;
}

.section2TopLeftContents {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
  font-size: 1.5rem;
  color: #4a4a4a;
}

.topLeftComment {
  width: 40%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px #d2d2d2 solid;
}

.gvchRight,
.gvchLeft {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  color: rgb(185, 184, 184);
  border-radius: 50%;
  box-shadow: 0px 1px 10px #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 1;
  transition: all 100ms ease-in-out;
}

.gvchLeft {
  transform: translate(-1rem, 6.5rem);
}

.gvchRight {
  transform: translate(21.5rem, 6.5rem);
}

.gvchLeft:hover,
.gvchRight:hover {
  color: rgb(119, 119, 119);
}

.section2AdContainer {
  width: 27rem;
  height: 25rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border: 1px #e3e3e3 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section2GVContainer {
  width: 27rem;
  height: 37rem;
  background-color: #ffffff;
  border: 1px #e3e3e3 solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.adContent {
  width: 100%;
  height: 66%;
  border-bottom: 1px #e3e3e3 solid;
  border-radius: 10px 10px 0 0;
}

.adTextContent {
  width: 100%;
  height: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adTextContentInner {
  width: 24rem;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.adDiscription {
  width: 70%;
  font-size: 1.2rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.GoingToSee {
  width: 30%;
  background-color: #ff2f6e;
  color: #ffffff;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 100ms ease-in-out;
}

.GoingToSee:hover {
  transform: translateY(0.1rem);
}

.gvContent {
  width: 24rem;
  height: 100%;
}

.gallery {
  width: 100%;
  height: 40%;
  border-bottom: 1px #e3e3e3 solid;
}

.galleryTitle,
.videoTitle {
  width: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

.galleryImages {
  height: 8rem;
  display: flex;
  flex-flow: nowrap;
  transition: all 300ms ease-in-out;
}

.galleryImg {
  margin-right: 1rem;
  width: 11.5rem;
  height: 8rem;
}

.video {
  width: 100%;
  height: 60%;
}

.videos {
  height: 13rem;
  display: flex;
  flex-flow: nowrap;
  transition: all 300ms ease-in-out;
}

.videoAndDiscription {
  margin-right: 1rem;
  width: 24rem;
  height: 13rem;
}

.videoVideo {
  width: 11.5rem;
  height: 8rem;
  margin-bottom: 0.7rem;
}

.videoDiscription {
  width: 11.5rem;
  font-size: 1.3rem;
  /* letter-spacing: -1px; */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* 기본정보 */
.basicInfo {
  width: 100%;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-bottom: 1px #e3e3e3 solid;
  /* letter-spacing: -1px; */
}

.basicInfoHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem 0;
}

.smallTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.seeMore {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff2f6e;
  /* letter-spacing: -1px; */
  background-color: #ffffff;
}

.basicInfoMiddle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #4a535b;
}

.basicInfoSummary {
  width: 100%;
  height: 6.5rem;
  word-break: break-all;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  font-size: 1.5rem;
  color: #4a535b;
  margin-bottom: 2rem;
}

/* 출연/제작 */
.appearanceProduction {
  width: 100%;
  height: 28rem;
  border-bottom: 1px #e3e3e3 solid;
}

.production {
  margin-top: 1rem;
  display: flex;
  flex-flow: column wrap;
  height: 22rem;
  transition: transform 500ms ease-in-out;
  transform-origin: right;
}

.productionTitle {
  margin: 1.2rem 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.productionList {
  height: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1rem;
}

.productionList > img {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  border: 1px #e3e3e3 solid;
}

.liText {
  border-top: 1px #e3e3e3 solid;
  width: 22rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 1rem;
}

.liName {
  font-size: 1.5rem;
}

.liJob {
  font-size: 1rem;
  font-weight: bold;
  color: #8c8c8c;
  padding-top: 0.5rem;
}

.apchRight,
.apchLeft {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  color: rgb(185, 184, 184);
  border-radius: 50%;
  box-shadow: 0px 1px 10px #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 1;
  transition: all 100ms ease-in-out;
}

.apchLeft {
  transform: translate(-1rem, 12.5rem);
}

.apchRight {
  transform: translate(56.7rem, 12.5rem);
}

.apchLeft:hover,
.apchRight:hover {
  color: rgb(119, 119, 119);
}

/* 별점 그래프 */
.graph {
  width: 100%;
  height: 24rem;
  border-bottom: 1px #e3e3e3 solid;
}

.graphTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2rem 0;
}

.graphTopRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.average {
  font-size: 1.6rem;
}

.numOfPeople {
  font-size: 1.3rem;
  color: #787878;
}

/* 코멘트 */
.comment {
  border-bottom: 1px #e3e3e3 solid;
  width: 100%;
  height: 35rem;
}

.commentTop {
  width: 100%;
  height: 4rem;
  margin: 1.2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.commentTopLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.numOfComment {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  color: #a9a0a0;
  /* letter-spacing: -1px; */
}

.commentContentSpace {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 27.5rem;
  flex-flow: row nowrap;
  transition: all 500ms ease-in-out;
}

.ccchRight,
.ccchLeft {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  color: rgb(185, 184, 184);
  border-radius: 50%;
  box-shadow: 0px 1px 10px #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 1;
  transition: all 100ms ease-in-out;
}

.ccchLeft {
  transform: translate(-1rem, 19rem);
}

.ccchRight {
  transform: translate(56.7rem, 19rem);
}

.ccchLeft:hover,
.ccchRight:hover {
  color: rgb(119, 119, 119);
}

.commentContentList {
  background-color: #f2f2f2;
  width: 27.5rem;
  height: 27.5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-right: 1rem;
  padding: 0 1.7rem;
}

.commentContent {
  width: 25rem;
  height: 100%;
}

.ccTop {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #e3e3e3 solid;
}

.ccTopLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ccTopImg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.ccTopName {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.ccTopRight {
  width: 5rem;
  height: 2.5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 20px;
  border: 1px #e3e3e3 solid;
}

.starScope {
  margin-left: 0.2rem;
}

.ccText {
  width: 100%;
  height: 14.2rem;
  border-bottom: 1px #e3e3e3 solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ccTextInner {
  width: 100%;
  height: 11.2rem;
  font-size: 1.5rem;
  line-height: 150%;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;

  letter-spacing: 0;
  margin: 1rem 0 2rem 0;
}

.ccNumOfLikeComment {
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  color: #787878;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px #e3e3e3 solid;
}

.ccLike {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

.ccLikeBtn {
  color: #ff2f6e;
  font-size: 1.5rem;
  background-color: #f2f2f2;
}

.ccNumOfLike,
.ccNumOfComment {
  width: 3.5rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cci {
  margin-right: 0.5rem;
}

/* 이 작품이 담긴 컬렉션 */
.collection {
  border-bottom: 1px #e3e3e3 solid;
  width: 100%;
  height: 33.5rem;
}

.collectionTop {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.2rem 0;
  width: 100%;
  height: 4rem;
}

.numOfCollection {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #a6a0a0;
}

.collectionContentUl {
  height: 26.4rem;
  display: flex;
  margin-right: 1rem;
  flex-flow: nowrap;
  transition: all 500ms ease-in-out;
}

.collectContent {
  width: 13.2rem;
  height: 26.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.collectionTextTitle {
  width: 100%;
  height: 3.2rem;
  line-height: 1.2;
  font-size: 1.4rem;
  margin: 0.7rem 0;
  letter-spacing: 0;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.collectionImgs {
  width: 13rem;
  height: 19.4rem;
  border-radius: 5px;
  border: 0.1rem solid #eae9e8;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccdcf;
}

.collectImgBox {
  width: 12rem;
  height: 18.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}

.collectImg {
  width: 5.75rem;
  height: 9rem;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}

.clchRight,
.clchLeft {
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  color: rgb(185, 184, 184);
  border-radius: 50%;
  box-shadow: 0px 1px 10px #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 1;
  transition: all 100ms ease-in-out;
}

.clchLeft {
  transform: translate(-1rem, 16rem);
}

.clchRight {
  transform: translate(56.7rem, 16rem);
}

.clchLeft:hover,
.clchRight:hover {
  color: rgb(119, 119, 119);
}

/* 비슷한 작품 */
.similarWork {
  width: 100%;
  height: 97.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: all 500ms ease-in-out;
}

.similarTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1.2rem 0;
  width: 100%;
  height: 4rem;
}

.similarContentUl {
  width: 100%;
  height: 85.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  overflow: hidden;
}

.similarContent {
  width: 13.2rem;
  height: 26.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.similarContent > img {
  width: 13rem;
  height: 19.4rem;
  border-radius: 7px;
  border: 0.1rem solid #eae9e8;
  cursor: pointer;
}

.similarText,
.collectionText {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.similarTextTitle {
  width: 100%;
  height: 2rem;
  font-size: 1.4rem;
  margin: 0.3rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.similarTextRate,
.collectionTextLike {
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #7c7c7c;
}

.similarTextGenre {
  width: 100%;
  font-size: 1.1rem;
  color: #a0a1a6;
}

.similarSeeMore {
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  border: 0.1rem solid #eae9e8;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all 100ms ease-in-out;
}

.similarSeeMore:hover {
  transform: translateY(0.1rem);
}
